.pattern1 {
    --s: 64px; /* control the size*/
    --c1: #eb6841;
    --c2: #edc951;

    background: conic-gradient(from -45deg, var(--c1) 90deg, #0000 0 180deg, var(--c2) 0 270deg, #0000 0) 0 calc(var(--s) / 2)/var(--s) var(--s),
    conic-gradient(from 135deg at 50% 0, var(--c1) 90deg, var(--c2) 0) 0 0/calc(2 * var(--s)) var(--s);
}

.pattern2 {
    --s: 60px; /* control the size*/
    --c1: #ffdc56;
    --c2: #fe6601;
    --c3: #803201;

    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g1: var(--_s) conic-gradient(at calc(500% / 6) 50%, var(--c3) 25%, #0000 0);
    --_g2: var(--_s) conic-gradient(at calc(200% / 3) 50%, var(--c2) 25%, #0000 0);
    background: var(--s) var(--s)/var(--_g1), 0 0/var(--_g1),
    var(--s) var(--s)/var(--_g2), 0 0/var(--_g2),
    repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0/var(--_s),
    linear-gradient(var(--c1) calc(100% / 3), var(--c2) 0 calc(200% / 3), var(--c3) 0) 0 0/var(--s) var(--s);
}

.pattern3 {
    --s: 120px; /* control the size*/
    --c1: #fa6900;
    --c2: #d95b43;
    --c3: #ecd078;

    background: conic-gradient(from 150deg at 50% 33%, #0000, var(--c1) .5deg 60deg, #0000 60.5deg) calc(var(--s) / 2) calc(var(--s) / 1.4),
    conic-gradient(from -30deg at 50% 66%, #0000, var(--c2) .5deg 60deg, var(--c3) 60.5deg);
    background-size: var(--s) calc(var(--s) / 1.154);
}